{% extends 'base.html.twig' %}

{% block title %}Todas las Tareas{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2>Todas Las Tareas: ( {{ tasks|length }} Tareas encontradas)</h2>
    
    {% for message in app.flashes('message') %}
        <div class="message">
            {{ message }}
        </div>
    {% endfor %}
    
    {{ include('includes/task-list.html.twig') }}
    
</div>
{% endblock %}